selenium>=4.0.0
webdriver-manager
selenium-wire==5.1.0
blinker<1.8
setuptools
tqdm
fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy>=2.0.0
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
celery
redis
requests
pymysql
websockets
python-dotenv